.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#bg img{
  width:100%;
  height:100%;
  z-index: -20%;
}
.container1 {
  position: relative;
  text-align: center;
  color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100;400;600&family=Roboto:wght@100&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100;400;600&family=Lobster&family=Roboto:wght@100&display=swap');
.centered {
  position: absolute;
  /* font-family: 'Big Shoulders Stencil Text', monospace; */
  /* font-family: 'Big Shoulders Stencil Text', cursive; */
  font-family: 'Lobster', cursive;
  font-size:40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered span{
  color:#e31b6d
}

.particles{ 
  height:100vh;
  background-color: #252934;
}